$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

body {
  font-family: 'Overpass', sans-serif;
  background-color: $very-dark-blue;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card {
      background-color: $dark-blue;
      width: 300px;
      height: 300px;
      border-radius: 20px;
      color: white;
    }
  }
}
